config SPL_SOPHGO_CV18XX_DDR
	bool "Sophgo CV18xx DDR driver in SPL"
	depends on SPL_RAM && SOPHGO_CV1800B
	help
	  This enables the DDR3 controller and PHY initialization and training
	  for the Sophgo CV181x (SG2002) SoC in SPL.
